.content_slidebar {
  cursor: pointer;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  height: 40px;
  border-radius: 12px;
  margin-bottom: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

/*  */
.container_welcome {
  padding: 24px;
}
.welcome_head {
  /* background: linear-gradient(90deg, #2aa799 0%, #5392c9 100%); */
  height: 240px;
  width: 100%;
  background-image: url("../../../assets//bannercolor.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 32px 40px 48px;
}
.big_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: #fff;
}
.small_text {
  margin-top: 8px;
  width: 30%;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.container_welcome input {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  /* background: rgba(0, 0, 0, 0.2); */
}
.container_welcome input::placeholder {
  color: white;
}
/*  */

.welcome {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 auto;
}
.container_bot_detail {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 320px;
  color: white;
  z-index: 1;
}
.bot_detail {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 16px;
  height: 100%;
  font-family: Mulish;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  transition: 0.3s;
}

.bot_detail button {
  color: white;
  border: none;
  height: 32px;
  width: 80px;
  border-radius: 16px;
  transition: 0.2s;
  background: #37cdbc;
}

.bot_detail button:hover {
  background: #2aa799;
}

.bot_detail button:active {
  background: #207e74;
}
.bot_detail .avatar {
  background-color: #fff;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid #fff;
  z-index: 1;
}
.bot_detail .avatar img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid #e5e9e3;
}

/* left end here  */

.list_bot {
  padding-bottom: 10px;
}
.content {
  position: relative;
  top: -45px;
  transition: 0.3s;
  padding-top: 50px;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cad2c5;
}

.content:hover {
  border: 1px solid #37cdbc;
}

.welcome_text {
  width: 94%;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 24px;
}

.latest_text {
  width: 94%;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.welcome .bot_say {
  margin-top: 15px;
  font-size: 14px;
  height: fit-content;
  padding: 12px 16px;
  background: #f8ca80;
  border-radius: 24px 0px 24px 24px;
  color: #1e2122;
}
.scroll {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.botName {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-top: 4px;
  color: #282c2f;
}
.botDesc {
  height: 55px;
  margin-top: 6px;
  padding: 0px 12px;
  word-wrap: break-word;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #282c2f;
  overflow: auto;
}
.botDesc::-webkit-scrollbar {
  display: none;
}
.botId {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #919191;
  margin-top: 4px;
}
.welcome .welcome_text {
  font-size: 40px;
  line-height: 38px;
}

.arrows path {
  fill: #eaede8;
}
.arrows_right {
  cursor: pointer;
}
.arrows_right:hover path {
  fill: #37cdbc;
}

.arrows_left {
  cursor: pointer;
}
.arrows_left:hover path {
  fill: #37cdbc;
}
.container_lastest {
  height: 188px;
}
/* lastest */

.lastest {
  display: flex;
  flex-direction: column;
  padding: 20px 24px 24px;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  border-radius: 16px;
  background: #f0f2f3;
}
.lastest_detail {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 16px;
  height: 100%;
  font-family: Mulish;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.lastest_answer {
  margin-top: 12px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  overflow: auto;
}
.lastest_answer::-webkit-scrollbar {
  display: none;
}
.lastest_name {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.lastest_botid {
  margin-top: 4px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2aa799;
}
.loading {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #fff 18%, #ececec 33%);
  border-radius: 16px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@media only screen and (max-width: 900px) {
  .content_slidebar {
    justify-content: center;
  }
  .arrows svg {
    height: 30px;
    width: 25px;
  }
  .botName {
    font-size: 13px;
  }
  .welcome .welcome_text {
    font-size: 30px;
  }
  .container_lastest {
    margin-bottom: 80px;
  }
  .container_welcome {
    padding: 0px;
  }
  .welcome_head {
    border-radius: 0px;
  }
  .small_text {
    width: 100%;
  }
}
