.container_modal {
  width: 100%;
  height: 100%;
}
.heading {
  margin-top: 12px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #282c2f;
}
.content {
  margin-top: 12px;
  padding: 0 16px;
  text-align: left;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #282c2f;
}
.button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button button {
  color: white;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  width: 85px;
  height: 40px;
  background: #2aa799;
  border-radius: 8px;
  margin-bottom: 16px;
  transition: 0.2s;
}
.button button:hover {
  background: #2aa799;
}
.signin_text {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #3c4043;
}
