.container {
  position: fixed;
  height: 100vh;
  padding-left: 80px;
  width: 100%;
  display: flex;
  background-color: white;
}
.container_chat {
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 900px) {
  .container {
    padding-left: 0px;
  }
  .container_chat {
    flex-direction: column-reverse;
    justify-content: start;
  }
}
