.slidebar {
  z-index: 1;
  position: fixed;
  width: 80px;
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  transition: 0.5s;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.slidebar.light {
  border-right: 1px solid #eaede8;
  background-color: #fff;
  color: #242785;
}

.slidebar.light path {
  fill: #242785;
}

.container_slidebar {
  padding-top: 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon_slidebar {
  cursor: pointer;
  margin-bottom: 15px;
  width: 68px;
  height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  gap: 4px;
  border-radius: 12px;
}

.active_tab.light {
  color: #0b2d29;
  background: #e3e3f7;
}
.active_tab.light path {
  fill: #242785;
}

@media only screen and (max-width: 900px) {
  .slidebar {
    z-index: 99;
    width: 300px;
  }
  .slidebar.light {
    background-color: white;
  }
  .icon_slidebar {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
