.bot_detail {
  position: relative;
  width: 25%;
  height: 100%;
  background: #f8f8f8;
  color: #282c2f;
}
.bot_detail .avatarBot {
  width: 96px;
  height: 96px;
  border-radius: 96px;
}
.bot_detail p {
  margin-top: 8px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  text-align: center;
  /* Neutral/White */
}
.bot_detail span {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  /* Neutral/White */
}

.bot_detail path {
  fill: #282c2f;
}
.bot_detail .icon_show path {
  fill: #2aa799;
}

.bot_detail .infoBot {
  padding-top: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.suggestion {
  position: absolute;
  top: 220px;
  left: 0;
  overflow-x: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question {
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  padding: 6px 8px;
  gap: 10px;
  margin: auto;
  margin-top: 18px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.8);
}

.question:hover {
  color: #333333;
  background: #e2e2e2;
}

.img_icon {
  width: 24px;
  height: 24px;
  filter: grayscale(100%) brightness(0);
}
.bot_detail .please {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  margin-top: 30px;
}
.icon_show path {
  fill: #2aa799;
}
.plus {
  transition: 0.2s;
  transform: rotate(45deg);
}
.x {
  transition: 0.2s;
  transform: rotate(0deg);
}
@media only screen and (max-width: 900px) {
  .bot_detail {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 55px;
    width: 100%;
    flex-direction: column;
    border-bottom: 1px solid #cad2c5;
  }

  .bot_detail .infoBot {
    margin-left: 10px;
    padding-top: 0px;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .bot_detail .avatarBot {
    width: 38px;
    height: 38px;
    border-radius: 50%;
  }
  .bot_detail p {
    margin-top: 0px;
    margin-left: 5px;
  }
  .bot_detail span {
    text-align: center;
  }
  .suggestion {
    transition: 0.2s;
    top: 45px;
    left: 0;
    width: 100%;
    margin: 0 auto;
    justify-content: start;
    flex-wrap: nowrap;
    gap: 10px;
    flex-direction: row;
    margin-top: 10px;
    background: #eaede8;
  }

  .question {
    margin: 0 auto;
    margin-top: 5px;
    width: 98%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100px;
    flex: 0 0 100px;
    background: transparent;
  }

  .question:hover {
    color: #282c2f;
    background: transparent;
  }
  .img_icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 4px;
    background: rgba(255, 255, 255, 0.1);
  }
}
.loading {
  background: #f8f8f8;
  background: linear-gradient(90deg, #f8f8f8 0px, #fff 40px, #f8f8f8 80px);
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
@media only screen and (max-width: 1280px) {
  .bot_detail .please {
    font-size: 11px;
  }
}
