.container_home {
  width: 100%;
  height: 100vh;
  transition: 0.2s;
  display: flex;
}
.home {
  width: 100%;
  height: 100vh;
}

@media only screen and (min-width: 1280px) {
  .container_home {
    padding-left: 80px;
  }
}
