.quiz_choices {
  position: relative;
  text-align: left;
  margin-top: 8px;
  border-radius: 16px;
  width: 100%;
  padding: 14px 16px;
  background: #ffffff;
  color: #191b5c;
  border: 1px solid #bbbced;
  box-shadow: 2px 2px 0px 0px #bbbced;
}
.quiz_choices:hover {
  border: 1px solid #6c6fd7;
  box-shadow: 2px 2px 0px 0px #6c6fd7;
}
.quiz_choices:active {
  background: #f7f7fd;
  box-shadow: 0px 0px 0px 0px;
  border: 1px solid #bbbced;
}
.quiz_choices:disabled {
  background: #ffffff;
  color: #919191;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 0px 0px 0px;
}
.quiz_choices.true {
  border: 1px solid #37cdbc;
  box-shadow: 0px 0px 0px 0px;
}
.quiz_choices.true:disabled {
  color: #191b5c;
  border: 1px solid #37cdbc;
  box-shadow: 0px 0px 0px 0px;
}
.quiz_choices.true::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  right: 2%;
  background-image: url(../../assets/icon_svg/svg/v.svg);
  background-size: cover;
  transform: translateY(-50%);
}
.quiz_choices.false {
  border: 1px solid #e02336;
  box-shadow: 0px 0px 0px 0px;
}
.quiz_choices.false:disabled {
  color: #191b5c;
  border: 1px solid #e02336;
  box-shadow: 0px 0px 0px 0px;
}
.quiz_choices.false::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  right: 2%;
  background-image: url(../../assets/icon_svg/svg/x.svg);
  background-size: cover;
  transform: translateY(-50%);
}
.next_pre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 16px;
  font-family: Mulish;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.next_pre button {
  color: #333333;
  border: none;
  border-radius: 16px;
  transition: 0.2s;
  padding: 7px 20px;
  width: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next_pre button:hover {
  background: #e2e2e2;
}
.next_pre button:active {
  background: #c6c6c6;
}
.next_pre button:disabled:hover {
  background: transparent;
}
