.inputForm {
  display: flex;
  justify-content: center;
  align-items: start;
  height: auto;
  width: 100%;
  position: relative;
  white-space: pre;
  word-break: break-word;
  align-items: center;
}

.inputForm .input {
  margin-top: 8px;
  font-family: Mulish;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  color: #000;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #c6c6c6;
  border-radius: 8px;
  padding: 10px 24px;
  resize: none;
  height: 44px;
  transition: 0.2s;
}
.inputForm .input::placeholder {
  font-family: Mulish;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: #919191;
}
.inputForm .input:hover {
  outline: none;
  border: 1px solid#2AA799;
}
.inputForm .input:focus {
  outline: none;
  border: 2px solid#2AA799;
}
