.container_inputChat {
  min-height: 10%;
  height: 108px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: end; */
  gap: 5px;
}
.container_inputChat button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 44px;
  background: #37cdbc;
  border-radius: 22px;
  border: none;
  transition: 0.2s;
  margin-right: 5px;
}
.container_inputChat button:hover {
  background: #2aa799;
}

.button {
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: end; */
}

.inputForm {
  display: flex;
  justify-content: center;
  align-items: start;
  height: auto;
  width: 94%;
  position: relative;
  white-space: pre;
  word-break: break-word;
  align-items: center;
}

.inputForm .inputChat {
  color: #000;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #e2e2e2;
  border-radius: 8px;
  padding: 10px 24px;
  resize: none;
  height: 44px;
  transition: 0.2s;
}
.inputForm .inputChat:hover {
  outline: none;
  border: 2px solid#2AA799;
}
.inputForm .inputChat:focus {
  outline: none;
  border: 2px solid#2AA799;
}

@media only screen and (max-width: 900px) {
  .container_inputChat {
    margin-bottom: 0px;
  }
}
