.label {
  width: 200px;
  height: 100px;
  background-color: #eaede8;
  border-radius: 50px;
  cursor: pointer;
  transform: scale(0.25);
  transform-origin: right;
}

.label input {
  position: absolute;
  display: none;
}

.label .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

.label input:checked ~ .slider {
  background-color: #d8dbe0;
}

.label .slider::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: inset 28px -4px 0px 0px#28292c;
  background-color: #eaede8;
  transition: 0.3s;
}

.label input:checked ~ .slider::before {
  transform: translateX(95px);
  background-color: #28292c;
  box-shadow: none;
}
