.hint {
  font-family: Mulish;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #5e5e5e;
  margin-left: 10px;
}
.popup_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 160px;
  font-family: Mulish;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  padding: 8px 0px;
  border-radius: 6px;
  border: 1px solid #37cdbc;
  color: #37cdbc;
}
.container_uplink {
  width: 100%;
  display: flex;
  padding: 5px;
  border: 1px solid #c6c6c6;
  border-radius: 8px;
}
.container_uplink input {
  outline: none;
  padding: 0 8px;
}
