.drop_file_input {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcfcfc;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23C6C6C6FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.drop_file_input:hover,
.drop_file_input.dragover {
  background-color: #e3e4f7;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%236C6FD7FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
.drop_file_input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop_file_preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.preview_item {
  position: relative;
  display: flex;
  gap: 10px;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #bbbced;
}

.preview_item_info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.011em;
  color: #333333;
}

.preview_item_del {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.file_name {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: #333333;
}
.file_size {
  font-family: Mulish;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  color: #919191;
}
.sub_text {
  font-family: Mulish;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #919191;
  margin-left: 12px;
}
.upload_text {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #333333;
}
.upload_text.big {
  font-weight: 700;
  margin-bottom: 16px;
}
.upload_text span {
  color: #6c6fd7;
  text-decoration: underline;
}
.btn {
  border-radius: 8px;
  padding: 8px 0px;
  width: 96px;
}
.btn.cancel {
  border: 1px solid #37cdbc;
  background: #fff;
  color: #37cdbc;
}
.btn.cancel:hover {
  border: 1px solid #2aa799;
  color: #2aa799;
}
.btn.cancel:active {
  border: 1px solid #207e74;
  color: #207e74;
}
.btn.done {
  border: 1px solid #fff;
  background: #37cdbc;
  color: #fff;
}
.btn.done:hover {
  background: #2aa799;
}
.btn.done:active {
  background: #207e74;
}
/*  */
.process {
  /* flex justify-between mb-6 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  border-radius: 4px;
  background: #f8f8f8;
  padding: 10px;
}
.progress-bar-container {
  background-color: #f8f8f8;
  height: 6px;
  margin-top: 8px;
  overflow: hidden;
  width: 100%;
}

.progress-bar {
  background-color: #6c6fd7;
  height: 100%;
  transition: width 0.5s ease-in-out;
}
