.header {
  width: 100%;
  height: 64px;
  transition: 0.5s;
  background: white;
  z-index: 30;
  border-bottom: 1px solid #eaede8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  cursor: pointer;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 30px;
}
