.header {
  width: 100%;
  height: 64px;
  transition: 0.5s;
  background: white;
  z-index: 30;
  border-bottom: 1px solid #eaede8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 30px;
}
.container_header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.openhide {
  height: 100%;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}
.openhide path {
  fill: black;
}
.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login button {
  color: #37cdbc;
  border: 1px solid #37cdbc;
  border-radius: 16px;
  transition: 0.2s;
  background: #fff;
  padding: 4px 16px;
  margin-right: 10px;
}
.login button:hover {
  background: #37cdbc;
  color: #fff;
}
