.container_create {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.container_create label {
  cursor: pointer;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.container_create input::placeholder {
  color: #c6c6c6;
}
.avatar_upload {
  margin-top: 16px;
  position: relative;
  max-width: 155px;
}
.avatar_upload .avatar_edit {
  position: absolute;
  right: 22px;
  z-index: 1;
  top: 95px;
}
.avatar_upload .avatar_edit input {
  display: none;
}
.avatar_upload .avatar_edit input + label {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #37cdbc;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar_upload .avatar_edit input + label:hover {
  background: #2aa799;
  border-color: #d6d6d6;
}

.avatar_upload .avatar_preview {
  width: 128px;
  height: 128px;
  position: relative;
  border-radius: 100%;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar_upload .avatar_preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*  */
.label {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}
.sub {
  margin-top: 8px;
  font-family: Mulish;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #919191;
}
.hashtag {
  transition: 0.2;
  font-family: Mulish;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  padding: 5px 12px;
  border-radius: 14px;
  background: #f8f8f8;
  color: #2f32ad;
  border: 1px solid #f8f8f8;
  cursor: pointer;
}
.hashtag:hover {
  background: #e3e3f7;
}
.hashtag.selected {
  border: 1px solid #4246cc;
  background: #e3e3f7;
}
.content {
  font-family: Mulish;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #333333;
}
.popup_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 160px;
  font-family: Mulish;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  padding: 8px 0px;
  border-radius: 6px;
  border: 1px solid #37cdbc;
  color: #37cdbc;
}
.btn_create {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;

  width: 200px;
  height: 44px;
  border-radius: 22px;
  color: #fff;
  background: #37cdbc;
}
@media only screen and (max-width: 900px) {
  .container_create {
    padding-left: 0px;
  }
}
