/*  */

.welcome {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 auto;
}
.container_bot_detail {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 320px;
  color: white;
  z-index: 1;
}
.bot_detail {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 16px;
  height: 100%;
  font-family: Mulish;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  transition: 0.3s;
}

.bot_detail button {
  color: white;
  border: none;
  height: 32px;
  width: 80px;
  border-radius: 16px;
  transition: 0.2s;
  background: #37cdbc;
}

.bot_detail button:hover {
  background: #2aa799;
}

.bot_detail button:active {
  background: #207e74;
}
.bot_detail .avatar {
  background-color: #fff;
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid #fff;
  z-index: 1;
}
.bot_detail .avatar img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid #e5e9e3;
}

/* left end here  */

.list_bot {
  padding-bottom: 10px;
}
.content {
  position: relative;
  top: -45px;
  transition: 0.3s;
  padding-top: 50px;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cad2c5;
}

.content:hover {
  border: 1px solid #37cdbc;
}

.botName {
  margin-top: 4px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #282c2f;
}
.botDesc {
  height: 55px;
  margin-top: 6px;
  padding: 0px 12px;
  word-wrap: break-word;
  overflow: auto;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #282c2f;
}
.botDesc::-webkit-scrollbar {
  display: none;
}
.botId {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #919191;
  margin-top: 4px;
}

.arrows path {
  fill: #eaede8;
}

.arrows_right {
  cursor: pointer;
}
.arrows_right:hover path {
  fill: #37cdbc;
}

.arrows_left {
  cursor: pointer;
}
.arrows_left:hover path {
  fill: #37cdbc;
}
.container_lastest {
  height: 188px;
}

.loading {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #fff 18%, #ececec 33%);
  border-radius: 16px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
.section_text {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
}
.text_big {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #37cdbc;
}
.text_medium {
  margin-top: 2px;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}
.text_small {
  margin-top: 12px;
  font-family: Mulish;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}
.text_big_buss {
  margin-top: 8px;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #37cdbc;
}
.text_small_buss {
  margin-top: 10px;
  font-family: Mulish;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.power_text {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #5e5e5e;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
@media only screen and (max-width: 820px) {
  .arrows svg {
    height: 30px;
    width: 30px;
  }
  .botName {
    font-size: 13px;
  }
}
