.footer {
  width: 100%;
  background: #1b1b1b;
  color: white;
}
.small_text_footer {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.medium_text_footer {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.footer input {
  font-family: Mulish;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

  width: 100%;
  outline: none;
  padding: 12px 16px;
  border-radius: 6px;
  color: black;
}
.footer button {
  font-family: Mulish;
  max-width: 144px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 8px;
  padding: 12px 24px;
  background: #37cdbc;
}
.footer button:hover {
  background: #2aa799;
}

.footer button:active {
  background: #207e74;
}
