.banner {
  width: 100%;
  height: auto;
  background-image: url(../../../assets/Banner-02.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 48px;
  color: white;
}
.gradient_text {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.01em;
  color: transparent;
  position: relative;
  word-wrap: break-word;
  background: linear-gradient(82.27deg, #60d7ca 6.02%, #6c6fd7 94.06%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.welcome_text_big {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.01em;
  text-align: left;
}
.welcome_text_small {
  margin-top: 16px;
  font-family: Mulish;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.welcome_button {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.welcome_button button:nth-child(1) {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 8px;
  padding: 12px 38px;
  background: #37cdbc;
  /* min-width: 114px; */
}
.welcome_button button:nth-child(1):hover {
  background: #2aa799;
}

.welcome_button button:nth-child(1):active {
  background: #207e74;
}
.welcome_button button:nth-child(2) {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 8px;
  padding: 12px 36px;
  color: #37cdbc;
  background: #fff;
}

/*  for text  */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 70px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 70px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.gradient_text {
  display: inline-block;
  position: relative;
}

@keyframes typing {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
/*  */
@media only screen and (max-width: 900px) {
  .welcome_text_big {
    font-size: 30px;
  }
  .gradient_text {
    font-size: 30px;
  }
  .banner {
    padding: 50px 18px;
  }
  .welcome_button {
    justify-content: center;
  }
}
