.container_chatbot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 52px;
  width: 90%;
  height: 100%;
}
@media only screen and (max-width: 900px) {
  .container_chatbot {
    padding: 0 5px;
    width: 100%;
    height: 90%;
  }
}
